n8n-flows/exports/simuladorpdv-router-rlipays.json
{
  "name": "RLIPAYS",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53b32f43-721c-47c8-8f26-675fd069ae71",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "ee23edb8-9303-4bac-9122-6506f1881695",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            },
            {
              "id": "920fcc7b-d3ae-4028-ba95-98fede43ee5c",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        160
      ],
      "id": "dc55bddc-1b97-43d3-9848-1cb3e6c6e3ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "route"
            },
            {
              "name": "version"
            },
            {
              "name": "transaction_id"
            },
            {
              "name": "payments",
              "type": "array"
            },
            {
              "name": "id_usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        0
      ],
      "id": "aff2dae7-415c-4cb7-9851-222239aa2e94",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eheptbdu7HOwPMAW",
          "mode": "list",
          "cachedResultName": "Credencial PDV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('When Executed by Another Workflow').item.json.id_usuario }}"
          },
          "matchingColumns": [
            "id_usuario"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -32,
        -48
      ],
      "id": "da93cf75-eab8-457b-9ecb-d36da9a5ccd2",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1342c45d-521c-4ac6-afc2-4e7af8373222",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        16
      ],
      "id": "f29906c1-cfc8-4806-b617-1a3a7c78c88d",
      "name": "If6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133b9b7e-ceb0-468f-a154-d8182157b341",
              "name": "request",
              "value": "={{ JSON.stringify({ data: $('Dados obrigatórios - PAYS').item.json.data }) }}",
              "type": "object"
            },
            {
              "id": "c34869dd-480b-4b24-ae92-5978ae8585fb",
              "name": "response",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        144
      ],
      "id": "f80d5ebd-5edc-4681-8c17-0d88cfa3762c",
      "name": "trata resposta11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133b9b7e-ceb0-468f-a154-d8182157b341",
              "name": "request",
              "value": "={{ JSON.stringify({ data: $('Dados obrigatórios - PAYS').item.json.data }) }}",
              "type": "object"
            },
            {
              "id": "c34869dd-480b-4b24-ae92-5978ae8585fb",
              "name": "response",
              "value": "={{ $input.first().json.response }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "35e007c3-e25c-40d7-8ca3-4ce95228c80f",
      "name": "trata resposta10"
    },
    {
      "parameters": {
        "jsCode": "//const body = $('Webhook_simuladorPDV_comando').first().json.body || {};\n\nconst transaction_id = $input.first().json.transaction_id;\nconst comando = $input.first().json.route;\nconst payments = $input.first().json.payments;\nconst id_usuario = $input.first().json.id_usuario;\n\n\n// Verificações mínimas obrigatórias\nif (!transaction_id || !comando || !id_usuario) {\n  return [\n    {\n      json: {\n        status: 'erro',\n        mensagem: 'Dados obrigatórios não informados.',\n        code: 400\n      }\n    }\n  ];\n}\n\n// Montagem do JSON dinâmico\nconst input = {\n  transaction_id: transaction_id\n};\n\nif (Array.isArray(payments)) {\n  input.payments = payments;\n}\n\nreturn [\n  {\n    json: {\n      data: {\n        route: comando,\n        version: 1,\n        input: input\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        16
      ],
      "id": "a902433b-8225-459e-8cd4-5347b3fe88af",
      "name": "Dados obrigatórios - PAYS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Credenciais').item.json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "provideSslCertificates": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Id",
              "value": "={{ $('Credenciais').item.json.cnpj }}"
            },
            {
              "name": "Authorization",
              "value": "=Basic {{ $('Credenciais').item.json.hashBase64 }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $('Dados obrigatórios - PAYS').item.json.data }) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        224
      ],
      "id": "24700cfb-7867-4789-b6e2-9142c53af4b3",
      "name": "Router - RLIPAYS1",
      "credentials": {
        "httpSslAuth": {
          "id": "QmU9dmvWdZ3dGR0e",
          "name": "Certificado Router"
        },
        "httpBasicAuth": {
          "id": "Xf3SyUdYT2vO8IAy",
          "name": "credencial Americanas"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Credenciais').item.json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Credenciais').item.json['x-api-key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  router: { env: $json.ambiente },\n  auth: {\n    client_id: $('Credenciais').item.json.client_id,\n    client_secret: $('Credenciais').item.json.client_secret,\n    cnpj_id: $('Credenciais').item.json.cnpj,\n  },\n  cert: {\n    pfx_base64: $('Credenciais').item.json.pfx_file,\n    password: $('Credenciais').item.json.pfx_password,\n  },\n  data: $('Dados obrigatórios - PAYS').item.json.data,\n}) }}\n",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -48
      ],
      "id": "ace1ff25-2eed-41b9-acc6-c66e2b12acfe",
      "name": "Router - RLIIPAYS",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "route": "RLIPAYS",
          "version": "2",
          "transaction_id": "18821bfb-639f-4314-b379-2085bc535d95",
          "id_usuario": "f647bfee-faa2-4293-a5f2-d192a9e9f3f1",
          "payments": [
            {
              "type": 1,
              "bin": "123456",
              "amount": 10,
              "description": "string"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Dados obrigatórios - PAYS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciais": {
      "main": [
        [
          {
            "node": "Router - RLIIPAYS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trata resposta11": {
      "main": [
        []
      ]
    },
    "trata resposta10": {
      "main": [
        []
      ]
    },
    "Dados obrigatórios - PAYS": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router - RLIPAYS1": {
      "main": [
        [],
        []
      ]
    },
    "Router - RLIIPAYS": {
      "main": [
        [
          {
            "node": "trata resposta10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "trata resposta11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10645209-43d0-41a8-8fc2-96f13c2eb695",
  "meta": {
    "instanceId": "aadd6643b56fea71162b7bcac01083163eddfa2c5edde510ba7d223b06fb5723"
  },
  "id": "Jh2aay2LcvKYkNrP",
  "tags": []
}