n8n-flows/exports/simuladorpdv-router-rlideal-v2.json
{
  "name": "RLIDEAL-V2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53b32f43-721c-47c8-8f26-675fd069ae71",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "ee23edb8-9303-4bac-9122-6506f1881695",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            },
            {
              "id": "920fcc7b-d3ae-4028-ba95-98fede43ee5c",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        224
      ],
      "id": "b76faa86-962c-4e41-8888-43c4c639d383",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1342c45d-521c-4ac6-afc2-4e7af8373222",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        240
      ],
      "id": "4c95adb5-fb6b-4ed6-aa8b-6e19d901c8fe",
      "name": "If"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "route"
            },
            {
              "name": "version"
            },
            {
              "name": "payment_option"
            },
            {
              "name": "transaction_id"
            },
            {
              "name": "id_usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        0
      ],
      "id": "75c5a2ce-a539-4cfe-ad98-8118746efa59",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eheptbdu7HOwPMAW",
          "mode": "list",
          "cachedResultName": "Credencial PDV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('When Executed by Another Workflow').item.json.id_usuario }}"
          },
          "matchingColumns": [
            "id_usuario"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        368,
        -16
      ],
      "id": "2d29bbc9-9625-4c12-9576-f1a5efe54533",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "jsCode": "//const headers = $('Webhook_simuladorPDV_comando').first().json.headers || {};\n//const comando = $input.first().json.body.comando;\nconst payment_option = $input.first().json.payment_option;\n\nconst transaction_id = $input.first().json.transaction_id;\n\n\nif (!payment_option || !transaction_id) {\n  return [\n    {\n      json: {\n        status: 'erro',\n        mensagem: 'Tipo de pagamento ou transaction_id n찾o informados.',\n        code: 400\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      status: 'ok',\n      mensagem: 'Dados obrigat처rios recebidos com sucesso.',\n      code: 200\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        112
      ],
      "id": "af7a46f8-9cde-416e-b396-1a070e00e498",
      "name": "Dados obrigat처rios - DEAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "279ad807-9715-4cdc-ac97-582a394a3049",
              "name": "request",
              "value": "=\n  \"data\": {\n    \"route\": \"{{ $('When Executed by Another Workflow').item.json.route }}\",\n    \"version\": 2,\n    \"input\": {\n      \"transaction_id\": \"{{ $('When Executed by Another Workflow').item.json.transaction_id }}\",\n      \"payment_option\": \"{{ $('When Executed by Another Workflow').item.json.payment_option }}\"\n    }\n  }\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -16
      ],
      "id": "51b5ee9c-4a05-46f6-91c8-69c3fe8923b7",
      "name": "Request DEAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133b9b7e-ceb0-468f-a154-d8182157b341",
              "name": "request",
              "value": "={{ (s => JSON.parse(s.startsWith('{') ? s : '{' + s + '}').data)\n   (((''+($('Request DEAL').item.json.request ?? '')).trim())) }}",
              "type": "object"
            },
            {
              "id": "c34869dd-480b-4b24-ae92-5978ae8585fb",
              "name": "response",
              "value": "={{ $input.first().json.response }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        0
      ],
      "id": "129231c4-20fa-477d-9ca9-ac528e5d50ca",
      "name": "trata resposta6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133b9b7e-ceb0-468f-a154-d8182157b341",
              "name": "request",
              "value": "={{ (s => JSON.parse(s.startsWith('{') ? s : '{' + s + '}').data)\n   (((''+($('Request DEAL').item.json.request ?? '')).trim())) }}",
              "type": "object"
            },
            {
              "id": "c34869dd-480b-4b24-ae92-5978ae8585fb",
              "name": "response",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        176
      ],
      "id": "d5c0e759-e79a-4491-81d2-5d58ca13cab1",
      "name": "trata resposta7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Credenciais').item.json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "provideSslCertificates": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Id",
              "value": "={{ $('Credenciais').item.json.cnpj }}"
            },
            {
              "name": "Authorization",
              "value": "=Basic {{ $('Credenciais').item.json.hashBase64 }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.request }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        208
      ],
      "id": "868fb6bd-424f-4594-b8af-5391faaa5eea",
      "name": "Router - RLIDEAL1",
      "credentials": {
        "httpSslAuth": {
          "id": "QmU9dmvWdZ3dGR0e",
          "name": "Certificado Router"
        },
        "httpBasicAuth": {
          "id": "Xf3SyUdYT2vO8IAy",
          "name": "credencial Americanas"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Credenciais').item.json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Credenciais').item.json['x-api-key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"router\": { \"env\": \"{{ $('Credenciais').item.json.ambiente }}\" },\n  \"auth\": {\n    \"client_id\": \"{{ $('Credenciais').item.json.client_id }}\",\n    \"client_secret\": \"{{ $('Credenciais').item.json.client_secret }}\",\n    \"cnpj_id\": \"{{ $('Credenciais').item.json.cnpj }}\"\n  },\n  \"cert\": {\n    \"pfx_base64\": \"{{ $('Credenciais').item.json.pfx_file }}\",\n    \"password\": \"{{ $('Credenciais').item.json.pfx_password }}\"\n  },\n  {{ $json.request }}\n}\n",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "1df0f00d-a1ba-4ca1-bdd8-b07775161b77",
      "name": "Router - RLIIDEAL",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "route": "RLIDEAL",
          "version": "2",
          "payment_option": "dotz",
          "transaction_id": "9b938e2a-dd50-495f-96e7-d80fc81ca446",
          "id_usuario": "f647bfee-faa2-4293-a5f2-d192a9e9f3f1"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciais": {
      "main": [
        [
          {
            "node": "Request DEAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados obrigat처rios - DEAL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request DEAL": {
      "main": [
        [
          {
            "node": "Router - RLIIDEAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trata resposta6": {
      "main": [
        []
      ]
    },
    "trata resposta7": {
      "main": [
        []
      ]
    },
    "Router - RLIDEAL1": {
      "main": [
        [],
        []
      ]
    },
    "Router - RLIIDEAL": {
      "main": [
        [
          {
            "node": "trata resposta6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "trata resposta7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d1bf1c0-efa4-403e-945b-daccd4593763",
  "meta": {
    "instanceId": "aadd6643b56fea71162b7bcac01083163eddfa2c5edde510ba7d223b06fb5723"
  },
  "id": "0wHFTlO68juX94PG",
  "tags": []
}